In [10]:
import numpy as np
import pandas as pd

In [11]:
sales = pd.read_csv('sales_data.csv')
sales

    Sales_ID    Product  Quantity  Price_per_Unit
0          1  Product_A         2             100
1          2  Product_B         5             200
2          3  Product_C         7             150
3          4  Product_D         1             300
4          5  Product_E         3             250
5          6  Product_F         4             350
6          7  Product_G         6             400
7          8  Product_H         8             450
8          9  Product_I         9             500
9         10  Product_J         2             600
10        11  Product_A         2             100
11        12  Product_B         5             200
12        13  Product_C         7             150
13        14  Product_D         1             300
14        15  Product_E         3             250
15        16  Product_F         4             350
16        17  Product_G         6             400
17        18  Product_H         8             450
18        19  Product_I         9             500
19        20  Product_J         2             600
20        21  Product_A         2             100
21        22  Product_B         5             200
22        23  Product_C         7           15550
23        24  Product_D         1             300
24        25  Product_E         3             250
25        26  Product_F         4             350
26        27  Product_G         6             400
27        28  Product_H         8             450
28        29  Product_I         9             500
29        30  Product_J         2             600
30        31  Product_A         2           10000
31        32  Product_B         5             200
32        33  Product_C         7             150
33        34  Product_D         1             300
34        35  Product_E         3             250
35        36  Product_F         4             350
36        37  Product_G         6             400
37        38  Product_H         8             450
38        39  Product_I         9             500
39        40  Product_J         2             600
40        41  Product_A         2             100
41        42  Product_B         5           25500
42        43  Product_C         7             150
43        44  Product_D         1             300
44        45  Product_E         3             250
45        46  Product_F         4             350
46        47  Product_G         6             400
47        48  Product_H         8             450
48        49  Product_I         9             500
49        50  Product_J         2             600

In [13]:
df = pd.DataFrame(sales)
df

    Sales_ID    Product  Quantity  Price_per_Unit
0          1  Product_A         2             100
1          2  Product_B         5             200
2          3  Product_C         7             150
3          4  Product_D         1             300
4          5  Product_E         3             250
5          6  Product_F         4             350
6          7  Product_G         6             400
7          8  Product_H         8             450
8          9  Product_I         9             500
9         10  Product_J         2             600
10        11  Product_A         2             100
11        12  Product_B         5             200
12        13  Product_C         7             150
13        14  Product_D         1             300
14        15  Product_E         3             250
15        16  Product_F         4             350
16        17  Product_G         6             400
17        18  Product_H         8             450
18        19  Product_I         9             500
19        20  Product_J         2             600
20        21  Product_A         2             100
21        22  Product_B         5             200
22        23  Product_C         7           15550
23        24  Product_D         1             300
24        25  Product_E         3             250
25        26  Product_F         4             350
26        27  Product_G         6             400
27        28  Product_H         8             450
28        29  Product_I         9             500
29        30  Product_J         2             600
30        31  Product_A         2           10000
31        32  Product_B         5             200
32        33  Product_C         7             150
33        34  Product_D         1             300
34        35  Product_E         3             250
35        36  Product_F         4             350
36        37  Product_G         6             400
37        38  Product_H         8             450
38        39  Product_I         9             500
39        40  Product_J         2             600
40        41  Product_A         2             100
41        42  Product_B         5           25500
42        43  Product_C         7             150
43        44  Product_D         1             300
44        45  Product_E         3             250
45        46  Product_F         4             350
46        47  Product_G         6             400
47        48  Product_H         8             450
48        49  Product_I         9             500
49        50  Product_J         2             600

In [14]:
df['Total_Sales'] = df['Quantity'] * df['Price_per_Unit']

In [15]:
df

    Sales_ID    Product  Quantity  Price_per_Unit  Total_Sales
0          1  Product_A         2             100          200
1          2  Product_B         5             200         1000
2          3  Product_C         7             150         1050
3          4  Product_D         1             300          300
4          5  Product_E         3             250          750
5          6  Product_F         4             350         1400
6          7  Product_G         6             400         2400
7          8  Product_H         8             450         3600
8          9  Product_I         9             500         4500
9         10  Product_J         2             600         1200
10        11  Product_A         2             100          200
11        12  Product_B         5             200         1000
12        13  Product_C         7             150         1050
13        14  Product_D         1             300          300
14        15  Product_E         3             250          750
15        16  Product_F         4             350         1400
16        17  Product_G         6             400         2400
17        18  Product_H         8             450         3600
18        19  Product_I         9             500         4500
19        20  Product_J         2             600         1200
20        21  Product_A         2             100          200
21        22  Product_B         5             200         1000
22        23  Product_C         7           15550       108850
23        24  Product_D         1             300          300
24        25  Product_E         3             250          750
25        26  Product_F         4             350         1400
26        27  Product_G         6             400         2400
27        28  Product_H         8             450         3600
28        29  Product_I         9             500         4500
29        30  Product_J         2             600         1200
30        31  Product_A         2           10000        20000
31        32  Product_B         5             200         1000
32        33  Product_C         7             150         1050
33        34  Product_D         1             300          300
34        35  Product_E         3             250          750
35        36  Product_F         4             350         1400
36        37  Product_G         6             400         2400
37        38  Product_H         8             450         3600
38        39  Product_I         9             500         4500
39        40  Product_J         2             600         1200
40        41  Product_A         2             100          200
41        42  Product_B         5           25500       127500
42        43  Product_C         7             150         1050
43        44  Product_D         1             300          300
44        45  Product_E         3             250          750
45        46  Product_F         4             350         1400
46        47  Product_G         6             400         2400
47        48  Product_H         8             450         3600
48        49  Product_I         9             500         4500
49        50  Product_J         2             600         1200

In [16]:
newSales = df.to_csv('newSales.csv', index=False)

In [18]:
df

    Sales_ID    Product  Quantity  Price_per_Unit  Total_Sales
0          1  Product_A         2             100          200
1          2  Product_B         5             200         1000
2          3  Product_C         7             150         1050
3          4  Product_D         1             300          300
4          5  Product_E         3             250          750
5          6  Product_F         4             350         1400
6          7  Product_G         6             400         2400
7          8  Product_H         8             450         3600
8          9  Product_I         9             500         4500
9         10  Product_J         2             600         1200
10        11  Product_A         2             100          200
11        12  Product_B         5             200         1000
12        13  Product_C         7             150         1050
13        14  Product_D         1             300          300
14        15  Product_E         3             250          750
15        16  Product_F         4             350         1400
16        17  Product_G         6             400         2400
17        18  Product_H         8             450         3600
18        19  Product_I         9             500         4500
19        20  Product_J         2             600         1200
20        21  Product_A         2             100          200
21        22  Product_B         5             200         1000
22        23  Product_C         7           15550       108850
23        24  Product_D         1             300          300
24        25  Product_E         3             250          750
25        26  Product_F         4             350         1400
26        27  Product_G         6             400         2400
27        28  Product_H         8             450         3600
28        29  Product_I         9             500         4500
29        30  Product_J         2             600         1200
30        31  Product_A         2           10000        20000
31        32  Product_B         5             200         1000
32        33  Product_C         7             150         1050
33        34  Product_D         1             300          300
34        35  Product_E         3             250          750
35        36  Product_F         4             350         1400
36        37  Product_G         6             400         2400
37        38  Product_H         8             450         3600
38        39  Product_I         9             500         4500
39        40  Product_J         2             600         1200
40        41  Product_A         2             100          200
41        42  Product_B         5           25500       127500
42        43  Product_C         7             150         1050
43        44  Product_D         1             300          300
44        45  Product_E         3             250          750
45        46  Product_F         4             350         1400
46        47  Product_G         6             400         2400
47        48  Product_H         8             450         3600
48        49  Product_I         9             500         4500
49        50  Product_J         2             600         1200

In [20]:
sales_by_product = df.groupby('Product')['Total_Sales'].sum()
sales_by_product

Product
Product_A     20800
Product_B    131500
Product_C    113050
Product_D      1500
Product_E      3750
Product_F      7000
Product_G     12000
Product_H     18000
Product_I     22500
Product_J      6000
Name: Total_Sales, dtype: int64

In [22]:
max_sales_product = sales_by_product.idxmax()
max_sales_value = sales_by_product.max()
print(f"Highest sales product: {max_sales_product} with sales of {max_sales_value}")

Highest sales product: Product_B with sales of 131500

In [27]:
best_sellingRow = df.loc[df['Quantity'].idxmax()]
best_selling = best_sellingRow['Product']
print(f"The best selling product is: {best_selling}")

The best selling product is: Product_I

In [29]:
q1 = df['Price_per_Unit'].quantile(0.25)
q3 = df['Price_per_Unit'].quantile(0.75)
IQR = q3 - q1
IQR

237.5

In [30]:
lowerFence = q1 - 1.5*(IQR)
higherFence = q3 + 1.5*(IQR)

In [32]:
outliers = df[(df['Price_per_Unit'] < lowerFence) | (df['Price_per_Unit'] > higherFence)]
outliers

    Sales_ID    Product  Quantity  Price_per_Unit  Total_Sales
22        23  Product_C         7           15550       108850
30        31  Product_A         2           10000        20000
41        42  Product_B         5           25500       127500

In [33]:
df['rank_qty_asc'] = df['Quantity'].rank()
df

    Sales_ID    Product  Quantity  Price_per_Unit  Total_Sales  rank_qty_asc
0          1  Product_A         2             100          200          10.5
1          2  Product_B         5             200         1000          28.0
2          3  Product_C         7             150         1050          38.0
3          4  Product_D         1             300          300           3.0
4          5  Product_E         3             250          750          18.0
5          6  Product_F         4             350         1400          23.0
6          7  Product_G         6             400         2400          33.0
7          8  Product_H         8             450         3600          43.0
8          9  Product_I         9             500         4500          48.0
9         10  Product_J         2             600         1200          10.5
10        11  Product_A         2             100          200          10.5
11        12  Product_B         5             200         1000          28.0
12        13  Product_C         7             150         1050          38.0
13        14  Product_D         1             300          300           3.0
14        15  Product_E         3             250          750          18.0
15        16  Product_F         4             350         1400          23.0
16        17  Product_G         6             400         2400          33.0
17        18  Product_H         8             450         3600          43.0
18        19  Product_I         9             500         4500          48.0
19        20  Product_J         2             600         1200          10.5
20        21  Product_A         2             100          200          10.5
21        22  Product_B         5             200         1000          28.0
22        23  Product_C         7           15550       108850          38.0
23        24  Product_D         1             300          300           3.0
24        25  Product_E         3             250          750          18.0
25        26  Product_F         4             350         1400          23.0
26        27  Product_G         6             400         2400          33.0
27        28  Product_H         8             450         3600          43.0
28        29  Product_I         9             500         4500          48.0
29        30  Product_J         2             600         1200          10.5
30        31  Product_A         2           10000        20000          10.5
31        32  Product_B         5             200         1000          28.0
32        33  Product_C         7             150         1050          38.0
33        34  Product_D         1             300          300           3.0
34        35  Product_E         3             250          750          18.0
35        36  Product_F         4             350         1400          23.0
36        37  Product_G         6             400         2400          33.0
37        38  Product_H         8             450         3600          43.0
38        39  Product_I         9             500         4500          48.0
39        40  Product_J         2             600         1200          10.5
40        41  Product_A         2             100          200          10.5
41        42  Product_B         5           25500       127500          28.0
42        43  Product_C         7             150         1050          38.0
43        44  Product_D         1             300          300           3.0
44        45  Product_E         3             250          750          18.0
45        46  Product_F         4             350         1400          23.0
46        47  Product_G         6             400         2400          33.0
47        48  Product_H         8             450         3600          43.0
48        49  Product_I         9             500         4500          48.0
49        50  Product_J         2             600         1200          10.5

In [34]:
df['rank_qty_desc'] = df['Quantity'].rank(ascending=False)

In [35]:
df

,Sales_ID,Product,Quantity,Price_per_Unit,Total_Sales,rank_qty_asc,rank_qty_desc
0,1,Product_A,2,100,200,10.5,40.5
1,2,Product_B,5,200,1000,28.0,23.0
2,3,Product_C,7,150,1050,38.0,13.0
3,4,Product_D,1,300,300,3.0,48.0
4,5,Product_E,3,250,750,18.0,33.0
5,6,Product_F,4,350,1400,23.0,28.0
6,7,Product_G,6,400,2400,33.0,18.0
7,8,Product_H,8,450,3600,43.0,8.0
8,9,Product_I,9,500,4500,48.0,3.0
9,10,Product_J,2,600,1200,10.5,40.5
10,11,Product_A,2,100,200,10.5,40.5
11,12,Product_B,5,200,1000,28.0,23.0
12,13,Product_C,7,150,1050,38.0,13.0
13,14,Product_D,1,300,300,3.0,48.0
14,15,Product_E,3,250,750,18.0,33.0
15,16,Product_F,4,350,1400,23.0,28.0
16,17,Product_G,6,400,2400,33.0,18.0
17,18,Product_H,8,450,3600,43.0,8.0
18,19,Product_I,9,500,4500,48.0,3.0
19,20,Product_J,2,600,1200,10.5,40.5
20,21,Product_A,2,100,200,10.5,40.5
21,22,Product_B,5,200,1000,28.0,23.0
22,23,Product_C,7,15550,108850,38.0,13.0
23,24,Product_D,1,300,300,3.0,48.0
24,25,Product_E,3,250,750,18.0,33.0
25,26,Product_F,4,350,1400,23.0,28.0
26,27,Product_G,6,400,2400,33.0,18.0
27,28,Product_H,8,450,3600,43.0,8.0
28,29,Product_I,9,500,4500,48.0,3.0
29,30,Product_J,2,600,1200,10.5,40.5
30,31,Product_A,2,10000,20000,10.5,40.5
31,32,Product_B,5,200,1000,28.0,23.0
32,33,Product_C,7,150,1050,38.0,13.0
33,34,Product_D,1,300,300,3.0,48.0
34,35,Product_E,3,250,750,18.0,33.0
35,36,Product_F,4,350,1400,23.0,28.0
36,37,Product_G,6,400,2400,33.0,18.0
37,38,Product_H,8,450,3600,43.0,8.0
38,39,Product_I,9,500,4500,48.0,3.0
39,40,Product_J,2,600,1200,10.5,40.5
40,41,Product_A,2,100,200,10.5,40.5
41,42,Product_B,5,25500,127500,28.0,23.0
42,43,Product_C,7,150,1050,38.0,13.0
43,44,Product_D,1,300,300,3.0,48.0
44,45,Product_E,3,250,750,18.0,33.0
45,46,Product_F,4,350,1400,23.0,28.0
46,47,Product_G,6,400,2400,33.0,18.0
47,48,Product_H,8,450,3600,43.0,8.0
48,49,Product_I,9,500,4500,48.0,3.0
49,50,Product_J,2,600,1200,10.5,40.5

In [37]:
# Replace outliers with median
median = df['Price_per_Unit'].median()
df['Price_per_Unit'] = df['Price_per_Unit'].apply(lambda x: median if x < lowerFence or x > higherFence else x)

In [38]:
df

,Sales_ID,Product,Quantity,Price_per_Unit,Total_Sales,rank_qty_asc,rank_qty_desc
0,1,Product_A,2,100.0,200,10.5,40.5
1,2,Product_B,5,200.0,1000,28.0,23.0
2,3,Product_C,7,150.0,1050,38.0,13.0
3,4,Product_D,1,300.0,300,3.0,48.0
4,5,Product_E,3,250.0,750,18.0,33.0
5,6,Product_F,4,350.0,1400,23.0,28.0
6,7,Product_G,6,400.0,2400,33.0,18.0
7,8,Product_H,8,450.0,3600,43.0,8.0
8,9,Product_I,9,500.0,4500,48.0,3.0
9,10,Product_J,2,600.0,1200,10.5,40.5
10,11,Product_A,2,100.0,200,10.5,40.5
11,12,Product_B,5,200.0,1000,28.0,23.0
12,13,Product_C,7,150.0,1050,38.0,13.0
13,14,Product_D,1,300.0,300,3.0,48.0
14,15,Product_E,3,250.0,750,18.0,33.0
15,16,Product_F,4,350.0,1400,23.0,28.0
16,17,Product_G,6,400.0,2400,33.0,18.0
17,18,Product_H,8,450.0,3600,43.0,8.0
18,19,Product_I,9,500.0,4500,48.0,3.0
19,20,Product_J,2,600.0,1200,10.5,40.5
20,21,Product_A,2,100.0,200,10.5,40.5
21,22,Product_B,5,200.0,1000,28.0,23.0
22,23,Product_C,7,350.0,108850,38.0,13.0
23,24,Product_D,1,300.0,300,3.0,48.0
24,25,Product_E,3,250.0,750,18.0,33.0
25,26,Product_F,4,350.0,1400,23.0,28.0
26,27,Product_G,6,400.0,2400,33.0,18.0
27,28,Product_H,8,450.0,3600,43.0,8.0
28,29,Product_I,9,500.0,4500,48.0,3.0
29,30,Product_J,2,600.0,1200,10.5,40.5
30,31,Product_A,2,350.0,20000,10.5,40.5
31,32,Product_B,5,200.0,1000,28.0,23.0
32,33,Product_C,7,150.0,1050,38.0,13.0
33,34,Product_D,1,300.0,300,3.0,48.0
34,35,Product_E,3,250.0,750,18.0,33.0
35,36,Product_F,4,350.0,1400,23.0,28.0
36,37,Product_G,6,400.0,2400,33.0,18.0
37,38,Product_H,8,450.0,3600,43.0,8.0
38,39,Product_I,9,500.0,4500,48.0,3.0
39,40,Product_J,2,600.0,1200,10.5,40.5
40,41,Product_A,2,100.0,200,10.5,40.5
41,42,Product_B,5,350.0,127500,28.0,23.0
42,43,Product_C,7,150.0,1050,38.0,13.0
43,44,Product_D,1,300.0,300,3.0,48.0
44,45,Product_E,3,250.0,750,18.0,33.0
45,46,Product_F,4,350.0,1400,23.0,28.0
46,47,Product_G,6,400.0,2400,33.0,18.0
47,48,Product_H,8,450.0,3600,43.0,8.0
48,49,Product_I,9,500.0,4500,48.0,3.0
49,50,Product_J,2,600.0,1200,10.5,40.5